mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb(style="width:200px; height:100px; margin:0; padding: 10px background-color:none;")
            img(src=(res.locals.isKoyeb? "" : "/" ) +`${video.thumbUrl}`, crossorigin, style="position:center;width:200px; height:100px;")
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                span #{video.owner.name} • 
                span #{video.meta.views} 회


                